{%extends 'base.html'%}
{%block body%}
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        {%for item in items%}
        
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-3">
                {%if item.product.image%}
                     <img class="card-img-top mb-5 mb-md-0" src="{{item.product.image.url}}" alt="..." height="200px" width="60px"/>
                {%else%}
                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." height="200px" width="60px"/>

                {%endif%}
            </div>
            <div class="col-md-6">
                <div class="small mb-1">{{item.product.category}}</div>
                <h1 class="display-5 fw-bolder">{{item.product.name}}</h1>
                <div class="fs-5 mb-5">
                    <span>${{item.product.price}}</span>
                </div>
                <p class="lead">{{item.date}}</p>
                <div class="d-flex">
                    <a class="btn btn-outline-primary flex-shrink-0" href="{%url 'checkout' item.product.id%}" ></i>
                        Buy now
                    </a>
                    <a class="btn btn-outline-primary flex-shrink-0 ms-3" href="{%url 'checkout' item.product.id%}" ></i>
                        Chat
                    </a>
                    <a class="btn btn-outline-danger flex-shrink-0 ms-auto" href="{%url 'deletewish' item.id%}" >
                        remove <i class="bi bi-trash"></i>
                    </a>
                </div>
            </div>
        </div>
        <hr class="mt-2 mb-2">
        {%endfor%}
        
    </div>
</section>
    
{%endblock%}